


.images{
   background: url(https://avatars.mds.yandex.net/get-zen_doc/2431229/pub_5ec4e4b8d921c9187a770558_5ec4e4ba4e183c2f7f55afc1/scale_1200 ) 0 0/100% 100% no-repeat;
width: 800px;
height: 300px;
}