

.body{
   padding: 0  0 0 10px;
}

.ava {
   
   color: blue;
   font-size: 20px;
}

.qwerty{
   width: 600px;
   height: 70px;
   border: 5px solid grey;
   background: indigo;
   color: lawngreen;
   font-size: 20px;
   
}


.as button{
   padding: 0 0 10px 0;
   border:5px solid lawngreen ;
   background: lightblue;
   color: lightcoral;

}