.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   padding: 10px;
}

.dialogsItems a {
   color: black;
text-decoration: none;}



.messages {
   padding: 10px;
}

.dialog .active {
   color: teal;
}

.dialogsItems a:active {
   color: darkolivegreen;
}


.text{
   color: darkslateblue;
}