* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

<<<<<<< HEAD
body {
   background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612278318_115-p-kartinki-fioletovii-fon-krutie-nadpisi-s-p-143.jpg);
}
#root {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.App {
   width: 600px;
}

.post {
   background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612161459_148-p-fon-fioletovoi-vodi-200.jpg)100%  ;
   display: flex;
   color: #EE82EE;
   padding: 15px;
   border: 2px solid black;
   border-radius: 16px;
   margin-top: 15px;
   justify-content: space-between;
   align-items: center;
}

.post-enter {
   transform: translateX(-350px) ;
}
.post-enter-active {
   transform: translateX(0) ;
   transition:  all 500ms ease-in;
}
.post-exit {
   opacity: 1;
}

.post-exit-active {
   transform: translateX(-350px) ;
   transition: all  500ms ease-in;
}


.page__wrapper{
margin-top: 30px;
display: flex;
}
.page{
   padding: 10px;
   border: 1px solid teal ;
   cursor: pointer;
}

.page__current{
   border: 2px solid orange;
   font-weight: bold ;
}

.navbar{
   height: 50px;
   width: 100vh;
   display: flex;
   align-items: center;
   padding: 0 15px ;
   background: #0000FF;
   border-radius: 16px;
}

.navbar__links{
   border-radius: 16px;
   border:1px solid violet ;
   color: white;
   background: #800080;
   margin-left: auto ;
  
  
}


.post__btn{
   display: flex;
   
}
=======
body{
  background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614267705_7-p-chernii-geometricheskii-fon-9.jpg);
}
.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background:url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614191505_189-p-krasivii-fon-chernii-253.jpg) 0 0/ 100% no-repeat;
  }
>>>>>>> 0f0237f42c13db4e098324041906a4086613bd54
